{% extends 'base.html.twig' %}

{% block form %}

    <label>Titre</label>
    <input type="text" name="title" value="">
    <label>contenu</label>
    <input type="text" name="Content" value="">
    <label>Auteur</label>
    <input type="text" name="autor" value="">
    <input type="submit" name="submitted" value="Envoyer">

{% endblock %}
